@import "tailwindcss";

@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope_Complete/Manrope_Complete/Fonts/WEB/fonts/Manrope-Variable.woff2") format("woff2");
  font-weight: 200 800;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "PP Right Slab";
  src: url("./assets/fonts/Manrope_Complete/PR Right Slab/PP Right Slab - Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@theme {
  --font-manrope: "Manrope", sans-serif;
  --font-right-slab: "PP Right Slab", serif;

  --text-title: clamp(2rem, 4vw, 2.5rem);
  --text-subtitle: clamp(1.125rem, 2.5vw, 1.25rem);
  --text-content: clamp(1rem, 2vw, 1.125rem);
  --text-meta: clamp(0.875rem, 1.5vw, 1rem);
}


:root{
  background-color: #F8F7F7;
  padding: 80px 44px;
}